Dataset/*
report/*.aux
report/*.out
report/*.log
report/*.synctex.gz
src/checkpoint/*
src/logs/*
src/samples/*
src/JSTL/JSTL.npy
src/JSTL/LookBookList.txt
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py~
